<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Narrow Jumbotron Template for Bootstrap</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">

</head>

<body>

<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#">Home</a></li>
        </ul>
        <h3 class="text-muted">Janus</h3>
    </div>

    <div class="jumbotron">
        <form action="/" method="post">
        <textarea style="width: 100%; height: 300px;" name="proxyList"></textarea>
            <input type="submit" value="Заменить">
        </form>
    </div>

    <div class="jumbotron">
        <h3>{{ w }}</h3>
        {% for server in status %}
            {{ server.hostname }} - {{ server.date_part }}<br>
        {% endfor %}
    </div>

    <div class="footer">
        <p>&copy; Naoni 2016</p>
    </div>

</div>
</body>
</html>